<nav> 
    <div class="nav-wrapper" style="background-color: #850000">
      <a style="margin-left: 10px;" href="/api/profile" class="brand-logo"><b>Profile</b></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a style="font-size: 19px" href="/api/add"><b>Add Post</b></a></li>
        <li><a style="font-size: 19px" href="/api/show"><b>Show Posts</b></a></li>
      </ul>
    </div>
  </nav>